.menu {
  display: flex;
  justify-content: right;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  margin: unset;
  overflow: auto;
}

.greetings {
  line-height: 52px;
  font: inter;
  font-weight: 700px;
  justify-content: center;
  font-size: 40px;
  line-height: 52px;
  margin-top: unset;
  margin-bottom: unset;
  color: #172b4d;
  /* line-height: 28px; */
}

.job {
  color: #36b37e;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  font: inter;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
  margin-top: 14px;
  padding-bottom: 2px;
}

.button {
  color: #172b4d;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.section-container {
  background-image: url("images/illustrator-mobile.svg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px;
  text-align: center;
  overflow-y: auto;
}

.background-image {
  width: 100%;
  position: absolute;
}
